@mixin mobile {
  @media (max-width: 571px) {
    @content;
  }
}

@mixin tab {
  @media (max-width: 768px) {
    @content;
  }
}

.chart-container {
  width: 80%;
  margin: 2rem auto;

  @include tab() {
    width: 95%;
  }

  @include mobile() {
    width: 90%;
  }
}

.chart-head {
  text-align: center;
  margin: 2rem;
}
