form {
  width: 30%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    flex: 1;
    padding: 8px 6px;
    border-radius: 7px;
    border: 2px solid #555;
  }
}
