@use "Cards.scss";
@use "Chart.scss";
@use "Form.scss";

$dark: #333;
$font: Arial, Helvetica, sans-serif;
* {
  margin: 0;
  color: $dark;
  box-sizing: border-box;
  font-family: $font;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  img {
    width: 55px;
    margin: 0 11px;
  }
}
