@use "Cards.scss";
@use "Chart.scss";
@use "Form.scss";

$dark: #333;
$font: "Space Grotesk";
* {
  margin: 0;
  color: $dark;
  box-sizing: border-box;
  font-family: $font;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  img {
    width: 55px;
    margin: 0 11px;
  }
}

.footer {
  width: 100%;
  background-color: #fafafa;
  & > p {
    padding: 1rem;
    text-align: center;
  }
}
